@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
    --primary-color: rgba(255, 255, 255, 1);
    --black-color: rgba(0, 0, 0, 1);
    --black2-color: rgba(26, 11, 46, 1);
    --green-color: rgba(0, 255, 136, 1);
    --linear-gradient1:
        rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1);
    --button-gradient:
        47.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1),
        rgba(145, 0, 248, 1);
    --hover-gradient:
        90deg, rgba(247, 233, 63, 1) rgba(251, 9, 180, 1), rgba(145, 0, 248, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background: rgb(27, 11, 47);
}

a {
    text-decoration: none;
}

/* *Sheared Style */

.max_width {
    max-width: 1200px;
    margin: 0 auto;
}

.primary_text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--primary-color);
    opacity: 0.8;
}

.btn {
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    border-radius: 10000px;
    background: linear-gradient(var(--button-gradient));
    color: var(--primary-color);
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0px 0px 18px rgba(255, 187, 0, 0.3);
}

.sub_header {
    color: var(--primary-color);
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 40px;
    text-align: center;
}

.sub2_header {
    color: var(--primary-color);
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
    text-transform: capitalize;
}

/* *Header Section Style */
.header {
    border-bottom: 1px solid rgba(65, 37, 103, 1);
}

.header_section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0;
}

.logo a h2 {
    font-size: 34px;
    font-weight: 800;
    color: var(--primary-color);
    position: relative;
    z-index: 1;
}

.logo a h2::before {
    content: "TechWave";
    position: absolute;
    font-family: "Inter";
    top: 0;
    left: 0;
    font-size: 34px;
    z-index: -1;
    -webkit-text-stroke: 1px var(--black-color);
}

.logo a h2 span {
    background: linear-gradient(to top, var(--linear-gradient1));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 32px;
    list-style: none;
}

nav ul li a {
    font-weight: 500;
    opacity: 0.9;
}

.opacity0_6,
.featured_title p,
.choose_grid p {
    opacity: 0.6;
}

/* *Hero Section Style */
.hero {
    height: 760px;
    background: url(assets/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.hero_section .microphone {
    width: 350px;
    height: 350px;
    margin: 0 auto;
    background: url(assets/hero-circle.png);
    background-size: cover;
    background-position: center;
    position: relative;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero_section .microphone .new {
    position: absolute;
    top: 20px;
    right: 20px;
    color: var(--black2-color);
    font-size: 18px;
    font-weight: 600;
    padding: 8px 16px;
    background: var(--green-color);
    border-radius: 1000px;
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
}

.hero_section h1 {
    font-size: 60px;
    font-weight: 800;
    color: var(--primary-color);
    margin-bottom: 8px;
}

.hero_section p {
    margin-bottom: 24px;
    color: var(--primary-color);
}

.hero_btn {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.btn1 {
    display: flex;
    gap: 8px;
    padding: 12px 20px;
}

.btn1::before {
    content: url(assets/line-md_spotify.png);
    width: 20px;
}

.btn2 {
    color: var(--green-color);
    font-size: 16px;
    font-weight: 600;
    padding: 12px 20px;
    background: transparent;
    border: 1px solid var(--green-color);
    border-radius: 100000px;
    cursor: pointer;
    display: flex;
    gap: 8px;
    transition: all 0.3s ease;
}

.btn2::before {
    content: url(assets/message.png);
    width: 20px;
    margin-top: 2px;
}

.btn2:hover {
    transform: translateY(-3px);
    box-shadow: 0px 0px 18px rgba(205, 255, 231, 0.313);
}

/* *About Section Style */

.about {
    background: var(--black2-color);

    padding: 50px 0px 120px 0px;
}

.about_content {
    text-align: center;
}

.about_content h2 {
    margin-bottom: 16px;
}

.about_content p {
    line-height: 20px;
}

.p_text1 {
    margin-bottom: 30px;
}

.about hr {
    margin: 80px auto;
    border: 1px solid var(--primary-color);
    opacity: 0.1;
}

.about_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
}

.box h2 {
    color: var(--green-color);
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 16px;
}

.box p {
    text-transform: uppercase;
}

/* *Choose Style */

.choose {
    background: rgb(35, 14, 61);
    padding: 120px 0;
}

.choose_container h2 {
    margin-bottom: 40px;
    text-align: center;
}

.choose_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.grid_box {
    background: rgba(53, 17, 101, 0.4);
    padding: 40px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.row_span {
    grid-row: span 2;
}

.col_span {
    grid-column: span 2;
}

.grid_box img {
    height: 60px;
    margin-bottom: 16px;
}

/* *Featured Style */

.featured {
    padding: 120px 0px;
    background: rgba(26, 11, 46, 1);
}

.featured_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    gap: 30px;
}

.featured_content_box {
    border-radius: 24px;
    background: rgba(37, 13, 68, 1);
    overflow: hidden;
}

.featured_title {
    padding: 24px;
}

.watch_time {
    color: var(--green-color);
    font-size: 16px;
    font-weight: 600;
    display: flex;
    gap: 6px;
    align-items: center;
    margin-top: 12px;
}

/* *Meet The Host Style */

.host {
    margin-top: 120px;
}

.host_person {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    padding: 40px;
    gap: 24px;
}

.parson_img img {
    width: 200px;
}

.parson_detail {
    max-width: 960px;
}

.parson_detail h2 {
    font-size: 32px;
    font-weight: bold;
}

.parson_detail p {
    margin-bottom: 16px;
}

.parson_social_icon {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}

.parson_social_icon a {
    padding: 10px;
    border-radius: 50%;
    border: 1px solid rgba(83, 60, 114, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s ease;
}

.parson_social_icon a:hover {
    background: rgba(217, 0, 255, 0.328);
}

.parson_social_icon a img {
    height: 20px;
}

.footer_section {
    height: 412px;
    background: url(assets/footer-bg.png), rgb(35, 14, 61);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 34px;
}

.footer_content .logo a h2 {
    font-size: 50px;
}

.footer_content .logo a h2::before {
    font-size: 50px;
    -webkit-text-stroke: 1px var(--black-color);
}

.link_flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.link_flex a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.link_flex a span {
    transition: all 0.3s ease;
}

.link_flex a span:hover {
    color: var(--green-color);
}

.footer_content .link_flex a span,
.copyright p {
    opacity: 0.6;
}

@media screen and (min-width: 576px) and (max-width: 992px) {
    .header_section {
        padding: 24px 20px;
    }
    .hero {
        padding: 0px 20px;
    }

    .about {
        padding: 40px 20px;
    }

    .choose {
        padding: 40px 20px;
    }

    .choose_grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .row_span {
        grid-row: span 1;
        grid-column: span 2;
    }

    .col_span {
        grid-column: span 1;
    }

    .featured {
        padding: 40px 20px;
    }

    .featured_container {
        justify-items: center;
    }

    .featured_content_box {
        max-width: 460px;
    }

    .host {
        margin-top: 45px;
    }

    .parson_detail h3 {
        margin-bottom: 12px;
        font-size: 20px;
    }

    .parson_detail p {
        font-size: 14px;
        line-height: 15px;
    }

    .parson_social_icon a img {
        height: 15px;
    }

    .footer_section {
        max-width: 992px;
        height: 248px;
        margin: 0 auto;
        background: url(assets/footer-bg.png), rgb(32, 15, 65);
        background-size: 1500px;
        background-position: center;
        background-repeat: no-repeat;
        padding: 40px 20px;
        position: relative;
        text-align: center;
    }

    .host_person {
        padding: 20px;
    }

    .footer_content {
        gap: 20px;
    }
}

/* *Mobile Responsive */
@media screen and (max-width: 576px) {
    /* *Sheared Style */
    .sub2_header {
        margin-bottom: 24px;
    }

    .featured_title {
        padding: 16px;
    }

    .sub2_header {
        margin-bottom: 16px;
        font-size: 22px;
    }

    .header_section {
        flex-direction: column;
        gap: 10px;
    }

    .hero {
        max-width: 440px;
        height: 466px;
        margin: 0 auto;
        background-size: 100%;
        background-position: 0px 55px;
        background-repeat: no-repeat;
        padding: 0 20px;
    }

    .hero_section .microphone {
        width: 200px;
        height: 200px;
        margin-bottom: 24px;
    }

    .hero_section .microphone img {
        height: 80px;
    }

    .hero_section h1 {
        font-size: 40px;
        margin-bottom: 8px;
    }

    .hero_section .microphone .new {
        right: 0px;
        top: 5px;
    }

    /* *About Responsive */

    .about {
        padding: 40px 20px;
    }

    .sub_header {
        font-size: 32px;
    }

    .p_text1 br {
        display: none;
    }

    /* *Choose */
    .choose {
        padding: 40px 20px;
    }

    .choose_grid {
        grid-template-columns: 1fr;
    }

    .grid_box {
        padding: 20px;
        border-radius: 24px;
    }

    .sub2_header {
        font-size: 22px;
    }

    .col_span {
        grid-column: span 1;
    }

    .row_span {
        grid-row: span 1;
    }

    /* *Featured Style */
    .featured {
        padding: 40px 20px;
    }

    .featured_container {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 16px;
    }

    .featured_content_box {
        margin-bottom: 8px;
    }

    .featured_content_box p {
        margin-bottom: 8px;
    }

    .host {
        margin-top: 60px;
    }

    .host_person {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 24px;
    }

    .parson_img img {
        width: 150px;
    }

    .parson_detail {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    .parson_detail h3 {
        font-size: 24px;
        margin-bottom: 16px;
    }

    .footer_content {
        gap: 24px;
    }

    .footer_section {
        max-width: 578px;
        height: 248px;
        margin: 0 auto;
        background: url(assets/footer-bg.png), rgb(32, 15, 65);
        background-size: 650px;
        background-position: center;
        background-repeat: no-repeat;
        padding: 40px 20px;
        position: relative;
        text-align: center;
    }

    .link_flex {
        gap: 16px;
    }

    .link_flex {
        max-width: 255px;
    }
}
