@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
    --primary-color: rgba(255, 255, 255, 1);
    --black-color: rgba(0, 0, 0, 1);
    --green-color: rgba(0, 255, 136, 1);
    --linear-gradient1:
        rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1);
    --button-gradient:
        47.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1),
        rgba(145, 0, 248, 1);
    --hover-gradient:
        90deg, rgba(247, 233, 63, 1) rgba(251, 9, 180, 1), rgba(145, 0, 248, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background: rgb(27, 11, 47);
}

a {
    text-decoration: none;
}

/* *Sheared Style */

.max_width{
    max-width: 1200px;
    margin: 0 auto;
}

.primary_text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--primary-color);
}

.btn {
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    border-radius: 10000px;
    background: linear-gradient(var(--button-gradient));
    color: var(--primary-color);
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0px 0px 18px rgba(255, 187, 0, 0.3);
}

/* *Header Section Style */

.header_section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0;
}

.header_section .logo a h2 {
    font-size: 34px;
    font-weight: 800;
    color: var(--primary-color);
    position: relative;
    z-index: 1;
}

.header_section .logo a h2::before {
    content: "TechWave";
    position: absolute;
    font-family: "Inter";
    top: 0;
    left: 0;
    font-size: 34px;
    z-index: -1;
    -webkit-text-stroke: 1px var(--black-color);
}

.header_section .logo a h2 span {
    background: linear-gradient(to top, var(--linear-gradient1));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 32px;
    list-style: none;
}

nav ul li a {
    font-weight: 500;
}

/* *Hero Section Style */
.hero {
    height: 760px;
    background: url(assets/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.hero_section .microphone {
    width: 350px;
    height: 350px;
    margin: 0 auto;
    background: url(assets/hero-circle.png);
    background-size: cover;
    background-position: center;
    position: relative;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero_section .microphone .new {
    position: absolute;
    top: 20px;
    right: 20px;
    color: rgba(26, 11, 46, 1);
    font-size: 18px;
    font-weight: 600;
    padding: 8px 16px;
    background: var(--green-color);
    border-radius: 1000px;
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
}

.hero_section h1 {
    font-size: 60px;
    font-weight: 800;
    color: var(--primary-color);
    margin-bottom: 8px;
}

.hero_section p {
    margin-bottom: 24px;
    color: var(--primary-color);
}

.hero_btn {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.btn1 {
    display: flex;
    gap: 8px;
    padding: 12px 20px;
}

.btn1::before {
    content: url(assets/line-md_spotify.png);
    width: 20px;
}

.btn2 {
    color: var(--green-color);
    font-size: 16px;
    font-weight: 600;
    padding: 12px 20px;
    background: transparent;
    border: 1px solid var(--green-color);
    border-radius: 100000px;
    cursor: pointer;
    display: flex;
    gap: 8px;
    transition: all 0.3s ease;
}

.btn2::before {
    content: url(assets/message.png);
    width: 20px;
    margin-top: 2px;
}

.btn2:hover {
    transform: translateY(-3px);
    box-shadow: 0px 0px 18px rgba(205, 255, 231, 0.313);
}



@media screen and (max-width:576px) {
    .header_section{
        flex-direction: column;
        gap: 10px;
    }

    .hero{
        max-width: 440px;
        height: 466px;
        margin: 0 auto;
        background-size:100%;
        background-position: 0px 55px;
        background-repeat: no-repeat;
    }

    .hero_section .microphone{
        width: 200px;
        height: 200px;
        margin-bottom: 24px;
    }

        .hero_section .microphone img{
            height: 80px;
        }

        .hero_section h1{
            font-size: 40px;
            margin-bottom: 8px;
        }

        .hero_section .microphone .new{
            right: 0px;
            top: 5px;
        }
}