@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


:root{
    --primary-color:rgba(255,255,255,1);
    --black-color:rgba(0,0,0,1);
    --linear-gradient1:rgba(247,233,63,1),rgba(251,9,180,1),rgba(145,0,248,1);
    --button-gradient:47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1);
    --hover-gradient:90deg,rgba(247, 233, 63, 1)rgba(251, 9, 180, 1),rgba(145, 0, 248, 1);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body{
    background: rgba(35, 14, 61, 1);
}


a{
    text-decoration: none;
}


/* *Sheared Style */

.primary_text{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--primary-color);
}

.btn{
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    border-radius:10px ;
    background: linear-gradient(var(--button-gradient));
    color: var(--primary-color);
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover{
     transform: translateY(-3px);
     box-shadow: 0px 0px 18px rgba(255, 187, 0, 0.3);
}


/* *Header Section Style */

.header_section{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0;
}



.header_section .logo a h2{
    font-size: 34px;
    font-weight: 800;
    color: var(--primary-color);
    position: relative;
    z-index: 1;
}

.header_section .logo a h2::before{
    content: "TechWave";
    position: absolute;
    font-family:"Inter";
    top: 0;
    left: 0;
    font-size: 34px;
    z-index: -1;
    -webkit-text-stroke: 1px var(--black-color);
}

.header_section .logo a h2 span{
    background: linear-gradient(to top, var(--linear-gradient1));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

nav ul{
    display: flex;
    align-items: center;
    gap: 32px; 
    list-style: none;
}
